.header {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 15%;
  max-height: 10rem;
  width: 100%;
  right: 0;
  z-index: 9999;
  &__logo {
    display: flex;
    align-items: center;
    &-image {
      margin-right: 1rem;
    }
    &-text {
      font-family: $font-rubik;
      font-weight: 500;
      color: $color-gold;
    }
  }
  &__links {
    &-link {
      color: $color-white;
      margin-left: 3rem;
      font-family: $font-rubik;
      font-weight: 400;
    }
  }
}
