body {
  font-size: 1.6rem;
  line-height: 1.5;
  color: $color-gray;
  font-family: $font-poppins;
  font-weight: 400;
}
.golden-text {
  @include golden-text(600);
}
.title {
  @include title(4.2rem, 1.2, 600);
}
.second-title {
  @include title(2.5rem, 1.2, 400);
}
.white-poppins {
  @include white-poppins(1.9rem, 1.6, 500);
}
.text-box {
  max-width: 66rem;
  &--sup {
    @include golden-text(600);
    margin-bottom: 1rem;
  }
  &--title {
    @include title(4.2rem, 1.2, 600);
    margin-bottom: 1.5rem;
  }
  &--text {
    margin-bottom: 4rem;
  }
}
