.banner {
  padding-top: 33rem;
  /* max-width: 575px; */
  padding-bottom: 33rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0.2);

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    &-img {
      position: absolute;
      /* right: 0; */
      z-index: -1;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);
    }
  }
  &__text {
    max-width: 57.5rem;
    &-sup {
      margin-bottom: 1rem;
    }
    &-title {
      margin-bottom: 1.7rem;
    }
    &-regular {
      color: $color-white;
      line-height: 1.5;
      letter-spacing: 0.02em;
    }
  }
  &__buttons {
    .btn-white {
      background: $color-white;
      color: $color-black;
      margin-right: 2.3rem;
    }
  }
}
.service {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 7rem;
  padding: 12rem 0;
  &__box {
    max-width: 30rem;
    &--img {
      margin-bottom: 3.3rem;
      height: 7.6rem;
    }
    &--title {
      margin-bottom: 1.5rem;
    }
  }
}
