$color-gold: #cba15e;
$color-white: #fff;
$color-black: #000;
$color-gray: #a1a1a1;
$color-lightGray: #bbb;
$color-darkGray: #999;
$color-brown: #4d4343;

$font-rubik: 'Rubik', sans-serif;
$font-poppins: 'Poppins', sans-serif;
